$sc:17;
html,
body,
div,
header,
section,
footer,
a,
span,
ul,
li,
img,
p,
b,
i,
h3,
h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
    body {
        @extend html;
        background-color: #f5f5f5;
        div.bigbox {
            @extend html;
            header {
                width: 100%;
                height: 82/$sc+rem;
                div.headerMain {
                    height: 44/$sc+rem;
                    img {
                        width: 100%;
                    }
                }
                nav {
                    height: 33/$sc+rem;
                    background: #fff;
                    ul {
                        height: 100%;
                        float: left;
                        li {
                            float: left;
                            height: 100%;
                            line-height: 34/$sc+rem;
                            position: relative;
                            a {
                                display: block;
                                color: #666;
                                font-size: 16/$sc+rem;
                                padding: 0 11/$sc+rem;
                                height: 100%;
                                line-height: 33/$sc+rem;
                                vertical-align: top;
                            }
                            a.selected {
                                color: #448aff;
                                font-size: 17/$sc+rem;
                                line-height: 32.5/$sc+rem;
                                margin-top: 1/$sc+rem;
                            }
                            span {
                                background: #ed5151;
                                display: block;
                                width: 6/$sc+rem;
                                height: 6/$sc+rem;
                                border-radius: 50%;
                                position: absolute;
                                top: 6/$sc+rem;
                                right: 2/$sc+rem;
                            }
                        }
                    }
                    a.navMore {
                        display: block;
                        float: right;
                        width: 30/$sc+rem;
                        background: #fff url(../img/addnav1.png) center no-repeat;
                        background-size: contain;
                        height: 28/$sc+rem;
                        margin: 4/$sc+rem 2/$sc+rem 0 0;
                        pointer-events: auto;
                    }
                }
            }
            section {
                div.contentImg {
                    position: relative;
                    img {
                        max-width: 100%;
                    }
                    p {
                        color: #fff;
                        width: 100%;
                        height: 40/$sc+rem;
                        padding-top: 30/$sc+rem;
                        line-height: 40/$sc+rem;
                        font-size: 15px;
                        text-indent: 0.8em;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: absolute;
                        bottom: 4/$sc+rem;
                        left: 0/$sc+rem;
                    }
                }
                div.hotNews {
                    padding: 0 12/$sc+rem;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    height: 108/$sc+rem;
                    margin-top: 5/$sc+rem;
                    background: #fff;
                    a {
                        display: block;
                        width: 100%;
                        position: relative;
                        div.hotImg {
                            width: 33%;
                            float: right;
                            position: relative;
                            overflow: hidden;
                            margin-left: 15/$sc+rem;
                            pointer-events: none;
                            padding-top: 10/$sc+rem;
                            img {
                                max-width: 100%;
                            }
                        }
                        div.hotTxt {
                            color: #111;
                            line-height: 22/$sc+rem;
                            margin-bottom: 15/$sc+rem;
                            min-height: 49/$sc+rem;
                            overflow: hidden;
                            padding: 10/$sc+rem 0px;
                            font-size: 17px;
                        }
                        div.toTop {
                            font-size: 11px;
                            position: relative;
                            margin: 0;
                            line-height: 16/$sc+rem;
                            color: #888;
                            position: absolute;
                            bottom: -22/$sc+rem;
                            left: 0px;
                            b {
                                font-weight: normal;
                                display: inline-block;
                                position: relative;
                                background-color: rgb(225, 34, 34);
                                border-radius: 1px;
                                color: #fff;
                                height: 10/$sc+rem;
                                line-height: 10/$sc+rem;
                                padding: 3/$sc+rem 2/$sc+rem 1/$sc+rem;
                                text-align: center;
                                margin-right: 6/$sc+rem;
                                top: 1/$sc+rem;
                                vertical-align: top;
                            }
                        }
                    }
                }
                div.weather {
                    height: 83/$sc+rem;
                    width: 100%;
                    background: #fff;
                    margin-top: 8/$sc+rem;
                    padding: 10/$sc+rem 12/$sc+rem;
                    box-sizing: border-box;
                    div.info {
                        padding: 0 8/$sc+rem;
                        float: left;
                        h3 {
                            font-weight: 400;
                            font-size: 24/$sc+rem;
                            float: left;
                        }
                        i {
                            display: inline-block;
                            width: 16/$sc+rem;
                            height: 16/$sc+rem;
                            background: url(../img/02.jpg) no-repeat 1px 0px;
                            background-size: 14/$sc+rem 10/$sc+rem;
                            float: left;
                            margin: 12/$sc+rem 3/$sc+rem 0 3/$sc+rem;
                        }
                        b {
                            font-weight: 400;
                            float: left;
                            font-size: 13px;
                            margin: 6/$sc+rem 6/$sc+rem 0 3/$sc+rem;
                        }
                        span {
                            display: inline-block;
                            float: left;
                            height: 14/$sc+rem;
                            margin: 8/$sc+rem 0 0 0;
                            padding: 0 7/$sc+rem;
                            font-size: 11px;
                            line-height: 14/$sc+rem;
                            color: #FFFFFF;
                            border-radius: 2px;
                            background-color: rgb(139, 195, 74);
                        }
                        p {
                            display: inline-block;
                            margin-left: -82/$sc+rem;
                            font-size: 13px;
                            color: #888;
                            margin-top: 14/$sc+rem;
                        }
                    }
                    div.infoRight {
                        float: right;
                        margin-top: 6/$sc+rem;
                        a {
                            color: #888;
                            height: 24px;
                            font-size: 13px;
                            margin-left: 60/$sc+rem;
                        }
                        a::before {
                            content: '';
                            display: inline-block;
                            background: url(../img/10.jpg) no-repeat;
                            width: 16/$sc+rem;
                            height: 20/$sc+rem;
                            background-size: auto 16/$sc+rem;
                            vertical-align: middle;
                        }
                        p {
                            position: absolute;
                            height: 14/$sc+rem;
                            padding: 0 7/$sc+rem 0 7/$sc+rem;
                            font-size: 11px;
                            line-height: 14/$sc+rem;
                            color: #FFFFFF;
                            background: #BFCACE;
                            border-radius: 7px;
                            margin-top: 10/$sc+rem;
                        }
                    }
                }
                div.text {
                    width: 100%;
                    height: 40/$sc+rem;
                    background: #fff;
                    padding: 26/$sc+rem 0 0 13/$sc+rem;
                    margin-top: 10/$sc+rem;
                    box-sizing: border-box;
                    h2 {
                        color: #111;
                        font-size: 14px;
                        height: 14/$sc+rem;
                        line-height: 14/$sc+rem;
                        font-weight: bold;
                        padding-left: 8px;
                        border-left: 2px solid #333;
                    }
                }
                div.news {
                    background: #fff;
                    width: 100%;
                    ul {
                        width: 100%;
                        padding: 16/$sc+rem 12/$sc+rem 10/$sc+rem;
                        box-sizing: border-box;
                        li {
                            width: 100%;
                            border-bottom: 1px solid #eee;
                            height: 139/$sc+rem;
                            box-sizing: border-box;
                            padding-top: 15/$sc+rem;
                            div.liDiv {
                                width: 100%;
                                padding-left: 6/$sc+rem;
                                box-sizing: border-box;
                                a {
                                    display: block;
                                    width: 100%;
                                    box-sizing: content-box;
                                    text-decoration: none;
                                    padding: 10/$sc+rem 13/$sc+rem 10/$sc+rem 8/$sc+rem;
                                    margin-left: -12/$sc+rem;
                                    div.time {
                                        font-size: 11px;
                                        color: #448aff;
                                        line-height: 12/$sc+rem;
                                        margin: 0 0 10/$sc+rem 0;
                                        i {
                                            display: inline-block;
                                            width: 12/$sc+rem;
                                            height: 12/$sc+rem;
                                            border-radius: 6px;
                                            background-color: #448aff;
                                            -ms-transform: scale(1);
                                            transform: scale(1);
                                            margin-right: 7/$sc+rem;
                                            vertical-align: top;
                                        }
                                        i::after {
                                            content: '';
                                            display: block;
                                            float: right;
                                            width: 4/$sc+rem;
                                            height: 4/$sc+rem;
                                            border-width: 0 0 1px 1px;
                                            border-style: solid;
                                            border-color: #FFF;
                                            margin: 2/$sc+rem 2/$sc+rem 0 0;
                                        }
                                    }
                                    div.main {
                                        position: relative;
                                        div.mainImg {
                                            width: 116/$sc+rem;
                                            float: right;
                                            overflow: hidden;
                                            margin-right: -6/$sc+rem;
                                            pointer-events: none;
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                        div.mainTxt {
                                            color: #111;
                                            font-size: 17px;
                                            width: 226/$sc+rem;
                                        }
                                        div.mainSourse {
                                            position: absolute;
                                            bottom: -30/$sc+rem;
                                            left: 0px;
                                            line-height: 16/$sc+rem;
                                            color: #888;
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                            .finna {
                                bottom: -30/$sc+rem!important;
                            }
                        }
                        li.finnaly {
                            border-bottom: 0;
                        }
                        li.liMore {
                            box-sizing: content-box;
                            height: 60/$sc+rem;
                            text-align: center;
                            padding: 30/$sc+rem 0 0;
                            a {
                                display: inline-block;
                                height: 28px;
                                line-height: 28px;
                                padding: 0 20px;
                                border: 1px solid #448aff;
                                border-radius: 14px;
                                color: #448aff;
                                font-size: 12px;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                box-sizing: content-box;
                                -webkit-tap-highlight-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}