html { overflow: hidden; }
html body div.woHeader { width: 100%; height: 7.2rem; padding: 0; box-sizing: border-box; width: 100%; background: #fff; z-index: 3; margin-bottom: 0.16rem; }
html body div.woHeader div.woHeader { width: 100%; height: 100%; position: relative; }
html body div.woHeader div.woHeader p.woHeaderBg { width: 100%; height: 100%; background: url(../img/bg1.jpg) no-repeat 0px 0px; background-size: 15rem auto; }
html body div.woHeader div.woHeader div.woMsg { width: 100%; height: 4.4rem; position: absolute; top: 1.2rem; left: 0; box-sizing: border-box; padding-left: 1rem; }
html body div.woHeader div.woHeader div.woMsg div.woTouX { width: 100%; height: 2.8rem; }
html body div.woHeader div.woHeader div.woMsg div.woTouX a { display: block; width: 2.8rem; height: 100%; margin-left: 0; }
html body div.woHeader div.woHeader div.woMsg div.woTouX a img.woTou { display: block; width: 100%; height: 100%; border-radius: 50%; z-index: 4; margin: 0; }
html body div.woHeader div.woHeader div.woMsg div { width: 100%; height: 1.2rem; margin-top: 0.24rem; }
html body div.woHeader div.woHeader div.woMsg div h5 { display: inline-block; letter-spacing: 1px; text-align: left; float: left; height: 100%; line-height: 1.2rem; }
html body div.woHeader div.woHeader div.woMsg div a.jian { border-color: #fff; float: right; margin-right: 0.8rem; transform: rotate(45deg); }
html body div.woHeader div.woHeader div.woMsg p { text-align: left; font-size: 14px; margin-top: 0.24rem; }
html body section { width: 100%; height: 11.6rem; padding-bottom: 0; overflow: hidden; margin-top: -0.08rem; }
html body section div.woMain { width: 100%; height: auto; }
html body section div.woMain nav { width: 100%; height: 3.2rem; padding: 0.68rem 0.8rem; box-sizing: border-box; background: #fff; }
html body section div.woMain nav div { width: 25%; height: 1.84rem; float: left; }
html body section div.woMain nav div b { width: 100%; display: block; height: 50%; line-height: 1.2rem; font-size: 16px; }
html body section div.woMain nav div a { width: 100%; display: block; height: 50%; line-height: 1.2rem; font-size: 12px; letter-spacing: 2px; color: #888; }
html body section div.woMain ul { width: 100%; height: 8rem; margin-top: 0.4rem; background: #fff; }
html body section div.woMain ul li { width: 100%; height: 2rem; padding: 0.4rem 0.8rem; box-sizing: border-box; border-bottom: 1px solid #f3f3f3; }
html body section div.woMain ul li i { display: inline-block; width: 1.2rem; height: 1.2rem; float: left; }
html body section div.woMain ul li i img { width: 100%; height: 100%; }
html body section div.woMain ul li span.woTxt { font-size: 14px; font-weight: bold; float: left; margin-left: 0.8rem; width: 4.8rem; height: 1.2rem; line-height: 1.2rem; text-align: left; }
html body section div.woMain ul li b { display: inline-block; width: 0.56rem; height: 1.2rem; line-height: 1.2rem; font-size: 14px; font-weight: normal; float: right; margin-right: 0.12rem; }
html body section div.woMain ul li span.woNext { width: 0.24rem; height: 0.24rem; border-width: 2px 2px 0 0; transform: rotate(45deg); float: right; margin-right: 0; margin-top: 0.44rem; }

/*# sourceMappingURL=wo.css.map */
