$sc:25;
html {
    overflow: hidden;
    body {
        div.woHeader {
            width: 100%;
            height: 180/$sc+rem;
            padding: 0;
            box-sizing: border-box;
            width: 100%;
            background: #fff;
            z-index: 3;
            margin-bottom: 4/$sc+rem;
            div.woHeader {
                width: 100%;
                height: 100%;
                position: relative;
                p.woHeaderBg {
                    width: 100%;
                    height: 100%;
                    background: url(../img/bg1.jpg) no-repeat 0px 0px;
                    background-size: 375/$sc+rem auto;
                }
                div.woMsg {
                    width: 100%;
                    height: 110/$sc+rem;
                    position: absolute;
                    top: 30/$sc+rem;
                    left: 0;
                    box-sizing: border-box;
                    padding-left: 25/$sc+rem;
                    div.woTouX {
                        width: 100%;
                        height: 70/$sc+rem;
                        a {
                            display: block;
                            width: 70/$sc+rem;
                            height: 100%;
                            margin-left: 0;
                            img.woTou {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                z-index: 4;
                                margin: 0;
                            }
                        }
                    }
                    div {
                        width: 100%;
                        height: 30/$sc+rem;
                        margin-top: 6/$sc+rem;
                        h5 {
                            display: inline-block;
                            letter-spacing: 1px;
                            text-align: left;
                            float: left;
                            height: 100%;
                            line-height: 30/$sc+rem;
                        }
                        a.jian {
                            border-color: #fff;
                            float: right;
                            margin-right: 20/$sc+rem;
                            transform: rotate(45deg);
                        }
                    }
                    p {
                        text-align: left;
                        font-size: 14px;
                        margin-top: 6/$sc+rem;
                    }
                }
            }
        }
        section {
            width: 100%;
            height: 290/$sc+rem;
            padding-bottom: 0;
            overflow: hidden;
            margin-top: -2/$sc+rem;
            div.woMain {
                width: 100%;
                height: auto;
                nav {
                    width: 100%;
                    height: 80/$sc+rem;
                    padding: 17/$sc+rem 20/$sc+rem;
                    box-sizing: border-box;
                    background: #fff;
                    div {
                        width: 25%;
                        height: 46/$sc+rem;
                        float: left;
                        b {
                            width: 100%;
                            display: block;
                            height: 50%;
                            line-height: 30/$sc+rem;
                            font-size: 16px;
                        }
                        a {
                            width: 100%;
                            display: block;
                            height: 50%;
                            line-height: 30/$sc+rem;
                            font-size: 12px;
                            letter-spacing: 2px;
                            color: #888;
                        }
                    }
                }
                ul {
                    width: 100%;
                    height: 200/$sc+rem;
                    margin-top: 10/$sc+rem;
                    background: #fff;
                    li {
                        width: 100%;
                        height: 50/$sc+rem;
                        padding: 10/$sc+rem 20/$sc+rem;
                        box-sizing: border-box;
                        border-bottom: 1px solid #f3f3f3;
                        i {
                            display: inline-block;
                            width: 30/$sc+rem;
                            height: 30/$sc+rem;
                            float: left;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        span.woTxt {
                            font-size: 14px;
                            font-weight: bold;
                            float: left;
                            margin-left: 20/$sc+rem;
                            width: 120/$sc+rem;
                            height: 30/$sc+rem;
                            line-height: 30/$sc+rem;
                            text-align: left;
                        }
                        b {
                            display: inline-block;
                            width: 14/$sc+rem;
                            height: 30/$sc+rem;
                            line-height: 30/$sc+rem;
                            font-size: 14px;
                            font-weight: normal;
                            float: right;
                            margin-right: 3/$sc+rem;
                        }
                        span.woNext{
                            width: 6/$sc+rem;
                            height: 6/$sc+rem;
                            border-width: 2px 2px 0 0;
                            transform: rotate(45deg);
                            float: right;
                            margin-right: 0;
                            margin-top: 11/$sc+rem;
                        }
                    }
                }
            }
        }
    }
}