$sc:25;
html {
    height: 100%;
    width: 100%;
    body {
        @extend html;
        header {
            a {
                width: 27%;
            }
            span.edit {
                float: right;
                background: url(../img/icon18_03.png) no-repeat -1px 0px;
                background-size: 30/$sc+rem 26/$sc+rem;
            }
        }
        section.indexSection {
            height: auto;
            ul.tieList {
                width: 100%;
                height: auto;
                padding: 0 8/$sc+rem;
                box-sizing: border-box;
                li {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    background: #fff;
                    padding: 6/$sc+rem 0;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 6/$sc+rem;
                    div.tieListTop {
                        height: 24/$sc+rem;
                        width: 100%;
                        font-size: 14px;
                        margin-bottom: 6/$sc+rem;
                        span.touXiang {
                            display: inline-block;
                            width: 24/$sc+rem;
                            height: 24/$sc+rem;
                            border: 1px solid #ccc;
                            border-radius: 50%;
                            float: left;
                            margin-left: 8/$sc+rem;
                        }
                        p.nick {
                            display: inline-block;
                            min-width: 30/$sc+rem;
                            height: 100%;
                            line-height: 24/$sc+rem;
                            float: left;
                            margin-left: 10/$sc+rem;
                        }
                        b.close {
                            font-weight: normal;
                            float: right;
                            margin-right: 10/$sc+rem;
                            font-size: 14px;
                            line-height: 24/$sc+rem;
                        }
                    }
                    p.tieListMsg {
                        min-height: 24/$sc+rem;
                        font-size: 16px;
                        text-align: left;
                        padding: 0 10/$sc+rem;
                        margin-bottom: 6/$sc+rem;
                    }
                    div.tieListMain {
                        min-height: 50/$sc+rem;
                        margin-bottom: 6/$sc+rem;
                        img{
                            width: 100%;
                            height: 180/$sc+rem;
                            padding: 0 8/$sc+rem;
                            box-sizing: border-box;
                        }
                    }
                    div.caoZuo {
                        height: 16/$sc+rem;
                        width: 100%;
                        margin-bottom: 6/$sc+rem;
                        span {
                            display: inline-block;
                            width: 64/$sc+rem;
                            height: 100%;
                            font-size: 14px;
                            float: left;
                            padding-left: 6/$sc+rem;
                            box-sizing: border-box;
                            b {
                                display: inline-block;
                                height: 100%;
                                font-weight: normal;
                                line-height: 16/$sc+rem;
                                float: left;
                            }
                            b::before {
                                content: '(';
                                width: 2/$sc+rem;
                                height: 14/$sc+rem;
                            }
                            b::after {
                                content: ')';
                                width: 2/$sc+rem;
                                height: 14/$sc+rem;
                            }
                            i {
                                display: inline-block;
                                width: 20/$sc+rem;
                                height: 16/$sc+rem;
                                float: left;
                            }
                            &:nth-of-type(1) i {
                                background: url(../img/icon10_03.png) no-repeat 0px 2px;
                                background-size: 20/$sc+rem 14/$sc+rem;
                            }
                            &:nth-of-type(2) i {
                                background: url(../img/icon13_03.png) no-repeat 0px 2px;
                                background-size: 20/$sc+rem 14/$sc+rem;
                            }
                            &:nth-of-type(3) i {
                                background: url(../img/icon8_03.png) no-repeat 0px 2px;
                                background-size: 20/$sc+rem 14/$sc+rem;
                            }
                        }
                        span.zan {
                            float: right;
                        }
                    }
                }
                li.last{
                    height: 64/$sc+rem;
                    width: 100%;
                }
            }
        }
    }
}